[submodule "apps/api"]
	path = apps/api
	url = git@github.com:BJTU-micro-services/api.git
[submodule "apps/services/payment"]
	path = apps/services/payment
	url = git@github.com:BJTU-micro-services/payment.git
[submodule "apps/services/ticket"]
	path = apps/services/ticket
	url = git@github.com:BJTU-micro-services/ticket.git
[submodule "apps/services/user"]
	path = apps/services/user
	url = git@github.com:BJTU-micro-services/ticket.git
